<div class="holder mt-5">
    <div class="container">
        <style>
            body {
                height: 100vh;
                overflow: hidden;
                background-color: transparent;
            }

            div#shopify-section-header,
            .page-title.text-center {
                display: none;
            }

            div#shopify-section-footer {
                display: none;
            }

            index-section {
                padding-bottom: 0;
            }

            p>img {
                max-width: 50%;
            }

            .hero {
                background-size: 150%;
                height: 90vh;

            }

            .page-content p>a,
            p {
                color: #e8e0cd;
                margin-top: 0;
                text-transform: none;
                font-family: "Century Gothic", sans-serif;
                font-style: normal;
                font-weight: 900;
                font-size: 15px;
                text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
            }

            .page-content p>a:hover {
                color: #fff;
            }

            html,
            .page-content {
                background-color: #268267;
            }

            .hero__inner {
                display: flex;
                align-items: flex-end;
                padding: 0;
            }

            .hero__btn {
                margin-top: 0;
                text-transform: none;
                font-family: "Century Gothic", sans-serif;
                font-style: normal;
                font-weight: 900;
                font-size: 15px;
                background: transparent;
                text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
            }

            .hero__btn:hover {
                background: transparent;
            }

            .hero--x-large {
                height: 100vh;
                background-size: 50vh;
                max-height: 100vh;
                background-position: center 18vh;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: flex-end;
            }

            @media only screen and (min-width: 750px) {
                p>img {
                    max-width: 90%;
                }

                .hero__btn {
                    font-size: 20px;
                }

                .index-section {
                    padding-bottom: 0;
                    padding-top: 0;
                }

                .hero--x-large {
                    height: 100vh;
                    max-height: 100vh;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                }

                .hero__inner {
                    display: flex;
                    align-items: flex-end;
                    padding: 55px 0;
                }

                .text-center .mega-subtitle {
                    max-width: 100%;
                }
            }

        </style>

<div class="hero hero--x-large hero-hero hero__overlay box ratio-container js lazyloaded" id="Hero-hero"
    data-layout="fixed_width"
    data-bgset="https://cdn.shopify.com/s/files/1/0095/6035/8991/files/ccc-logo-globe.png?v=1603824827"
    data-parent-fit="cover"
    style="background-position: center top; background-image: url(&quot;https://cdn.shopify.com/s/files/1/0095/6035/8991/files/ccc-logo-globe.png?v=1603824827&quot;);">
    <div class="hero__inner">
        <div class="page-width text-center">
            <div class="rte-setting mega-subtitle">
                <p><strong>Fresh website coming soon!</strong></p>
                <p>Check back next week for menus and online ordering.</p>
                <p>607 S Pickwick Ave<br>Springfield, MO 65802<br><br>Tues-Sat: 8a-8p<br><br><a href="tel:+417-720-1381"
                        title="tel:+417-720-1381" aria-describedby="a11y-external-message">417-720-1381</a></p>
            </div><a href="mailto:info@culturecountercommons.com?Subject=Hello%20Culture%20Counter" target="_blank"
                class="btn hero__btn" aria-describedby="a11y-new-window-external-message" rel="noopener">
                info@culturecountercommons.com
            </a>
        </div>
    </div>
    <picture style="display: none;">
        <source data-srcset="https://cdn.shopify.com/s/files/1/0095/6035/8991/files/ccc-logo-globe.png?v=1603824827"
            sizes="1090px"
            srcset="https://cdn.shopify.com/s/files/1/0095/6035/8991/files/ccc-logo-globe.png?v=1603824827"><img alt=""
            class="lazyautosizes lazyloaded" data-sizes="auto" sizes="1090px"></picture>
</div>
    </div>
</div>
