/*
THEME KIT TERMINAL COMMANDS
___________________________
v1.3 run :
theme get -p=d981328a4aff9275f3b7d5750145fc07 -s=culture-counter.myshopify.com -t=83366576207
*/

/* variables */
:root {
	--black: #2d2c2c;
	--white: #fff;
	--lightTan: #e8e0cd;
	--darkGray: #383834;
	--green: #438871;
	--greenHover: #396a5a;
	--boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* fonts */

@font-face {
	font-family: "Gotham Book";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Book"), url("GothamBook.woff") format("woff");
}

@font-face {
	font-family: "Gotham Book Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Book Italic"),
		url("GothamBookItalic.woff") format("woff");
}

@font-face {
	font-family: "Gotham Light";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Light"), url("GothamLight.woff") format("woff");
}

@font-face {
	font-family: "Gotham Light Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Light Italic"),
		url("GothamLightItalic.woff") format("woff");
}

@font-face {
	font-family: "Gotham Medium";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Medium"), url("GothamMedium.woff") format("woff");
}

@font-face {
	font-family: "Gotham Medium";
	font-style: normal;
	font-weight: 600;
	src: local("Gotham Medium"), url("GothamMedium_1.woff") format("woff");
}

@font-face {
	font-family: "Gotham Medium";
	font-style: normal;
	font-weight: 600;
	src: local("Gotham Medium"), url("GothamMediumItalic.woff") format("woff");
}

@font-face {
	font-family: "Gotham Bold";
	font-style: normal;
	font-weight: 800;
	src: local("Gotham Bold"), url("GothamBold.woff") format("woff");
}

@font-face {
	font-family: "Gotham Bold";
	font-style: normal;
	font-weight: 800;
	src: local("Gotham Bold"), url("Gotham-Bold.woff") format("woff");
}

@font-face {
	font-family: "Gotham Bold Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Bold Italic"),
		url("GothamBoldItalic.woff") format("woff");
}

@font-face {
	font-family: "Gotham Black Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Black Regular"), url("Gotham-Black.woff") format("woff");
}

@font-face {
	font-family: "Gotham Light Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Light Regular"), url("Gotham-Light.woff") format("woff");
}

@font-face {
	font-family: "Gotham Thin Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Thin Regular"), url("Gotham-Thin.woff") format("woff");
}

@font-face {
	font-family: "Gotham XLight Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham XLight Regular"),
		url("Gotham-XLight.woff") format("woff");
}

@font-face {
	font-family: "Gotham Book Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Book Italic"),
		url("Gotham-BookItalic.woff") format("woff");
}

@font-face {
	font-family: "Gotham Thin Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Thin Italic"),
		url("Gotham-ThinItalic.woff") format("woff");
}

@font-face {
	font-family: "Gotham Ultra Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham Ultra Italic"),
		url("Gotham-UltraItalic.woff") format("woff");
}

@font-face {
	font-family: "Gotham XLight Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Gotham XLight Italic"),
		url("Gotham-XLightItalic.woff") format("woff");
}

body,
.modal--quickview .modal-header-title,
.modal--checkout .modal-header-title,
.fancybox-container {
	font-family: "Gotham Book", sans-serif;
	line-height: 19px;
}
strong {
	font-family: "Gotham Bold", sans-serif;
}
.post-full .post-img img {
	width: 50%;
}
dd {
	margin-left: 2rem;
}
.filter-row .fixed-col-toggle {
	font-family: "Gotham Bold", sans-serif;
	line-height: 19px;
}

.sticky-holder:after {
	background-color: var(--green);
}

.mmenu-submenu,
.mmenu-submenu .submenu-list ul {
	background-color: var(--black);
}

.submenu-list a {
	color: var(--lightTan);
}

.submenu-list li.active > a {
	color: var(--white);
}

.mmenu:not(.mmenu--vertical) > li > a,
.sticky-holder .minicart-link [class*="icon-"],
.sticky-holder .minicart.is-hovered .minicart-link [class*="icon-"] {
	color: var(--black);
}

.minicart .minicart-drop.opened {
	box-shadow: black 0px 18.5px 20px -25px;
}

/* header minicart dropdown */
.minicart-drop,
.minicart-drop-total {
	color: #656565;
	background-color: var(--lightTan);
	border-color: var(--lightTan);
}

.mmenu:not(.mmenu--vertical) > li > a:hover,
.sticky-holder .minicart-link:hover [class*="icon-"],
.sticky-holder .minicart-link:hover .minicart-total,
.sticky-holder .minicart-link:hover .minicart-qty {
	color: var(--darkGray);
}

.minicart-link {
	display: flex;
	align-items: flex-end;
}

.minicart-total {
	padding-left: 10px;
}
.sticky-holder .minicart-total {
	color: var(--lightTan);
}

.page-footer ul:not([class]) li,
.page-footer ul:not([class]) li a,
.footer-block ul.contact-list li,
.footer-block ul.contact-list li a {
	line-height: 19px;
}
.btn {
	font-family: "Gothic Medium", sans-serif;
}
h1,
.h1-style,
h2,
.h2-style,
h3,
.h3-style,
h4,
.h4-style,
h5,
.h5-style,
h6,
.h6-style,
.prd-block_title,
.prd-block_price--actual,
.prd-block_price--special,
.product-slider .prd-title,
.product-slider .prd-price .price-new,
.sidebar-block_title,
.shop-features-style3 .shop-feature .shop-feature-text .text1 {
	font-family: "Gotham Bold", sans-serif;
}

.mmenu:not(.mmenu--vertical) > li > a {
	font-family: "Gotham Bold", sans-serif;
}

/* fonts */
/* @media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1599px) {

} */

.modal--quickview .modal-content {
	padding: 30px 25px;
}

.product-quickview-carousel a {
	width: auto;
}

/* product form */
.modal--quickview .shopify-product-form,
.blog-sidebar-container {
	display: flex;
	flex-direction: column;
}

.prd-block_info-row .info-row-col-4 {
	width: 100%;
}
/* quickview image block */
.product-quickview-carousel .slick-slide {
	width: 100% !important;
}

.equal-height .product-quickview-carousel .slick-slide > a {
	padding-top: 0;
	height: auto;
	width: auto;
}
.equal-height .product-quickview-carousel .slick-slide > a > img {
	top: unset;
	left: unset;
	transform: none;
	position: relative;
	object-fit: contain;
	width: 100%;
}

.product-quickview-carousel .slick-slide.slick-active:not(.slick-current) {
	display: none;
}

/* quickview sale label */
.prd-block_info [class*="prd-label"] {
	line-height: 25px;
}

/* quickview quantity change buttons */
.qty-changer--lg input[type="button"] {
	height: 25px;
	min-width: 25px;
}
/* quickview quantity number */
.qty-changer input[type="text"] {
	line-height: 1;
	width: 20px;
	padding: 5.25px 1px;
}
li.scasp-list-container.list-focus {
	display: none !important;
}
.equal-height .prd-block_main-image-holder .prd-has-loader.loaded {
	padding-top: 110%;
}

/* loading dots */
.loader-wrap .dot {
	background-color: #4c937c;
}
.dot.two {
	background-color: #4c937c;
}
.dot.three {
	background-color: #4c937c;
}

/* loading dots background */
.prd-grid-wrap .loader-wrap {
	background: rgba(52, 51, 50, 0.81);
}

.modal--quickview .info-row-col-4.quantity {
	justify-content: flex-end;
}

@media screen and (min-width: 768px) {
	.modal--quickview .info-row-col-4 .prd-block_price {
		display: flex;
	}
}

/* contact form */
form#contact_form {
	margin: 3rem;
}
.form-control {
	font-size: 14px;
	height: 1;
	line-height: 41px;
}
/* all form placeholders */
input {
	font-family: "Century Gothic", sans-serif !important;
}
input::placeholder {
	color: #d2d2d2 !important;
}

/* filters close elements */
.clear-filters span,
.selected-filters li > a {
	line-height: 20px;
	padding: 5px 22px 0px 9px;
}

/* custom color classes  */
.dark {
	background: var(--darkGray);
}

/* icomoon icons */
@font-face {
	font-family: "icomoon-expand";
	src: url("icomoon-expand.eot?jqounf");
	src: url("icomoon-expand.eot?jqounf#iefix") format("embedded-opentype"),
		url("icomoon-expand.ttf?jqounf") format("truetype"),
		url("icomoon-expand.woff?jqounf") format("woff"),
		url("icomoon-expand.svg?jqounf#icomoon-expand") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-expand"],
[class*=" icomoon-expand"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon-expand" !important;
	speak-as: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-expandexpand:before {
	content: "\e900";
}

@font-face {
	font-family: "icomoon-clipboard";
	src: url("icomoon-clipboard.eot?mj655t");
	src: url("icomoon-clipboard.eot?mj655t#iefix") format("embedded-opentype"),
		url("icomoon-clipboard.ttf?mj655t") format("truetype"),
		url("icomoon-clipboard.woff?mj655t") format("woff"),
		url("icomoon-clipboard.svg?mj655t#icomoon-clipboard") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-clipboard"],
[class*=" icomoon-clipboard"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon-clipboard" !important;
	speak-as: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-clipboardclipboard:before {
	content: "\e9b8";
}

body {
	background: var(--lightTan);
}

/* top nav */
.nav-holder,
.nav-holder-s {
	display: flex;
	justify-content: flex-start;
}

/* mobile nav */
.mobilemenu ul.nav li a,
.mobilemenu-search,
form.suggestion-form,
.page-footer .contact-list span,
.info-row__vendor,
.shopify-product-form .prd-block_qty input,
ul.category-list li a,
.selected-filters li > a,
.clear-filters {
	font-family: "Century Gothic", sans-serif !important;
}

.hdr {
	border-bottom: none;
}

.hdr-topline,
.has-sticky .sticky-holder {
	background: var(--lightTan);
}
/* page footer top links */
.shop-feature.light-color {
	cursor: pointer;
}
.newsletter-popup-bg {
	opacity: 0.4;
}

/* out of stock label on products */
.prd-img-area [class*="label-"]:not(.label-wishlist) {
	padding: 11px 11px 0 11px;
	line-height: 10px;
}

/* products card wrapper */
.prd-grid {
	margin: 0 -5px -30px;
}

/* header cart icon # */
.minicart-qty {
	margin: 18px 0 0 -34px;
	font-size: 11px;
}
.sticky-holder .minicart-qty {
	color: var(--lightTan);
}

/* product modal header */
.modal--quickview .modal-header,
.modal--checkout .modal-header {
	padding: 24px 30px 14px;
}
.modal--quickview .icon.icomoon-expandexpand {
	position: absolute;
	right: 0;
	bottom: 14px;
	z-index: 999;
	cursor: pointer;
}
.modal--quickview .icomoon-expandexpand:before {
	background: var(--green);
	color: var(--white);
	padding: 1rem;
	font-size: 20px;
	transition: font-size 0.3s ease;
}
.modal--quickview .icomoon-expandexpand:hover::before {
	font-size: 33px;
}
/* product price */
.prd-price {
	line-height: 2;
}
.prd-grid .prd-action .btn {
	margin-right: 0;
}
.prd-block_actions .btn-wrap {
	flex: unset;
	align-items: center;
}

.prd-block_actions .prd-block_price {
	text-align: left;
}
/* products page mobile filter */
.collection-filter {
	display: flex;
}

/* product boxes */
.equal-height .prd:not(.prd-horizontal-simple) .prd-img-area {
	padding-top: 95%;
}
.prd-horizontal-simple .prd-form {
	display: flex;
	flex: 1 0 auto;
	align-items: flex-end;
}

.prd-horizontal-simple .prd-action {
	position: relative;
	width: 100%;
	bottom: unset;
	right: unset;
}
/* horizontal product grid boxes */
.prd-horizontal-simple .prd-img img {
	height: auto;
	width: 100%;
	padding: 25px 0 25px 20px;
}
/* horizontal product grid boxes info section */
.prd-horizontal-simple .prd-info {
	justify-content: end;
	padding: 2em;
}
.prd-horizontal-simple .prd-tag {
	line-height: inherit;
}
.prd-horizontal-simple .prd-des {
	margin-top: 12px;
}
/* Product Slider */
.product-slider .prd-title {
	color: var(--white);
}
/* sticky header logo */
.logo-holder-s img {
	width: 50px;
}
/* product cards */
.prd-grid:not(.listing-view) .prd .prd-inside {
	background-color: var(--white);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease;
}

.prd-horizontal-simple .prd-inside {
	height: 100%;
}

.prd-grid:not(.listing-view) .prd .prd-inside:hover {
	background-color: var(--white);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease;
}

/* product image cards expand image to fill square */
.equal-height .prd:not(.prd-horizontal-simple) .prd-img-area .prd-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* hide preview bar 
iframe#preview-bar-iframe {
	display: none;
}
*/

.collection-carousel-item:hover img {
	transform: scale(1.3) rotate(0.01deg);
}

.collection-carousel-item img {
	transform: scale(1.4) rotate(0.001deg);
	object-fit: cover;
	height: auto;
}
.collection-carousel .collection-carousel-item a {
	z-index: 0;
}

.collection-carousel-title {
	z-index: 2;
	top: 25%;
}

/* brand carousel arrows center vertically */
.brand-carousel .slick-prev,
.brand-carousel .slick-next {
	top: 50%;
}

/* product slider */
.product-slider-holder {
	background-color: var(--darkGray);
	margin-top: 0;
}

/* product slider arrows */
.product-slider .slick-prev:before,
.product-slider .slick-next:before {
	color: #428770;
	font-size: 44px;
}

.product-slider .prd-title a,
.product-slider .prd-price .price-new,
.product-slider .prd-tag {
	color: var(--white);
}
.product-slider .product-slider-item {
	background-color: transparent;
}
.product-slider .prd-tag {
	display: block;
}

/* END product slider */

/* modal */

.modal {
	display: none;
	justify-content: center;
	position: fixed;
	z-index: 9999;
	padding: 10px 62px 0px 62px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	transition-duration: inherit;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.modal .fancybox-inner {
	background: #1e1e1e;
	opacity: 0.87;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 0 0 0 0;
	width: 100%;
	max-width: 1200px;
}

.slide {
	display: none;
}

.image-slide {
	width: 100%;
}

.modal-preview {
	width: 100%;
}

.dots {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

img.preview,
img.modal-preview {
	opacity: 0.6;
}

img.active,
.preview:hover,
.modal-preview:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
	color: white;
	position: absolute;
	top: 20px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #999;
	/* text-decoration: none; */
	cursor: pointer;
}

.previous,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* bottom footer text  */
footer .footer-copyright * {
	color: var(--lightTan);
}

.collection-carousel .slick-track {
	display: flex;
}
.collection-carousel .collection-carousel-item {
	display: flex;
	flex: 0 0 12.25%;
	height: auto;
}

/* top slider content dark background */
.bnslider-slide
	.bnslider-text-content
	.bnslider-text-content-flex
	.bnslider-vert {
	background: rgba(0, 0, 0, 0.6);
	padding: 5rem 0;
	margin: 1% 2%;
}
.prd-carousel-banner-row .prd-grid {
	margin: 0 -5px 0px;
}
.prd-carousel-banner-row .prd-carousel .prd {
	margin-top: 10px;
}
/* quick view image */
.prd-block:not(.prd-block--prv-left):not(.prd-block--prv-right)
	.product-previews-wrapper
	.slick-track {
	width: 100% !important;
}
/* product soring */
.select-wrapper-sm .form-control {
	height: 30px;
}
.select-wrapper-sm:before {
	line-height: 28px;
}
.bnslider-arrows .slick-arrow {
	background: var(--green);
	color: var(--white);
	top: 100%;
	font-size: 1vw;
	padding: 2rem;
}

.bnslider-arrows .slick-prev:before,
.bnslider-arrows .slick-next:before {
	top: 1rem;
	left: 1rem;
}

/* mobile only media query */
@media (max-width: 768px) {
	.logo-holder img,
	.logo-holder-s img {
		width: 55px;
	}

	.product-slider-holder .product-slider .slick-arrow {
		display: none !important;
	}
	.product-slider .slick-track {
		padding-top: 16px;
	}
	.modal {
		padding: 10px 6px 0px 6px;
	}
	.bnslider-arrows .slick-prev {
		left: 0;
	}

	.bnslider-text-content .bnslider-text-content-flex .bnslider-vert.w-40 {
		width: 100% !important;
	}
	.bnslider-arrows .slick-next {
		right: 0;
	}

	.bnslider-arrows {
		top: 0;
		bottom: 50%;
	}
	/* category slider */
	.collection-carousel .slick-arrow {
		display: none !important;
	}
	/* home: banners - online editor */
	.fullboxed .slick-track {
		display: flex;
		width: auto !important;
		transform: none !important;
	}
	.fullboxed .slick-arrow {
		display: none !important;
	}
	.holder.fullboxed {
		padding: 10px 0 !important;
	}

	.fullboxed .col-md.slick-slide.slick-active {
		padding: 0 0.5rem 0 0.75rem;
	}

	.fullboxed .bnr.bnr--style-1 .bnr-caption .bnr-text2 {
		margin-top: 0.75em;
		font-size: 80%;
	}
	.fullboxed .bnr.bnr--style-1 .bnr-caption .bnr-text1 {
		font-size: 30%;
	}
	body:not(.zoom-off) .fullboxed .bnr.bnr-hover-scale > img {
		width: calc(100% + 150px);
	}
	.fullboxed .col-md.slick-slide:not(.slick-active) {
		padding: 0 1rem 0 0.75rem;
	} /* END home: banners - online editor */
	/* Full row - Style 8+promo */
	.bnr.bnr--style-1-1 .bnr-caption {
		min-height: 100%;
		background-color: var(--green) !important;
	}
	.prd-carousel-banner img {
		display: none;
	}
	/* END Full row - Style 8+promo */

	.bnr {
		height: 30vh;
	}
	/* collection filters */
	.filter-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.filter-row .row.row-1 {
		padding: 0;
	}

	.prd-grid.product-listing {
		margin-top: 1em;
	}

	.collection-bg-image {
		margin-bottom: 0;
	}
} /* END mobile only media query */

/* desktop to tablet media query */
@media screen and (min-width: 768px) {
	.container {
		max-width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.bnslider-arrows--pullright > div,
	.bnslider-arrows--pullleft > div {
		position: relative;
		width: 17.6vw;
	}
	.bnslider-arrows.container {
		max-width: 100%;
		top: 0;
		bottom: 50%;
	}

	.bnslider-arrows .slick-prev:hover,
	.bnslider-arrows .slick-next:hover {
		background: var(--green);
		color: var(--white);
		box-shadow: var(--boxShadow);
		z-index: 9;
	}
	.bnslider-arrows .slick-prev {
		left: 0;
	}
	.bnslider-arrows .slick-next {
		right: 0;
	}
	.bnslider-arrows .slick-prev:hover:before {
		left: 1.5vw;
	}
	.bnslider-arrows .slick-next::before {
		right: 2vw;
	}
	.bnslider-arrows .slick-next:hover:before {
		right: 1.5vw;
	}
	.collection-carousel .collection-carousel-item {
		flex: 0 0 10.25%;
	}
	.bnslider-dots .slick-dots {
		background-color: transparent;
	}
	/* back to top button */
	.back-to-top {
		z-index: 158;
	}
	.prd-carousel-banner.bnr {
		display: block;
		min-height: 100%;
		background-color: var(--green) !important;
		transform: translateY(-30px) !important;
	}
	.holder {
		margin-top: 15px;
	}
	.prd-carousel-banner.bnr .carousel-arrows {
		display: none;
	}
	.bnr {
		height: 45vh;
	}
	.social-list {
		text-align: right;
	}
	.product-options > div.swatches ul {
		padding: 0 0 1rem 6rem;
	}
} /* END desktop to tablet media query */

/* strange middle tablet size */
@media (min-width: 768px) and (max-width: 1199px) {
	.product-slider.slick-slider .slick-track {
		height: 43vw;
	}
	.product-slider .product-slider-item {
		padding: 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		height: 100%;
	}
	.product-slider .product-slider-inside {
		position: relative;
		top: unset;
		left: unset;
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
	}
	/* product slider image container */
	.product-slider-item__image {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	/* product slider image */
	.product-slider .product-slider-item img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		min-width: 100%;
		margin: 0;
	}
	/* slick next/prev */

	/* slick next/prev */
	/* add to cart button */
	.product-slider .prd-action form {
		width: auto;
	}
	/* scroll dots */
	.vert-dots-md .slick-dots {
		top: 9vh;
	}
	.bnr {
		height: 34vh;
	}
}
/* desktop ONLY media query */
@media (min-width: 1200px) {
	.collection-carousel .slick-arrow {
		display: none !important;
	}
	.product-quickview-carousel .slick-list .slick-track {
		height: inherit;
		width: 100% !important;
	}

	.bnr-grid .slick-list .slick-track .slick-slide:first-child {
		padding-right: 10px;
	}
	.bnr-grid .slick-list .slick-track .slick-slide:last-child {
		padding-left: 10px;
	}

	/* header minicart */
	.hdr .minicart-holder {
		justify-content: flex-end;
		min-width: unset;
	}
	.prd-block_info > * {
		margin-top: 10px;
	}
	/* product slider info */
	.product-slider .product-slider-info {
		width: 40%;
		margin: -2% 6%;
	}

	/* temp card show button  */

	.btn--animate:after {
		color: #fff;
		transition-property: width background-color color;
		transition-duration: 2s;
		transition-timing-function: ease-in-out;
	}
	.btn--animate.btn--loading:after {
		opacity: 1;
		width: 100%;
		transition: width 1s ease-in-out, background-color 300ms ease-in-out;
	}

	/* product cards add space for button hover */
	.prd-grid .prd:nth-child(n + 5) {
		margin-top: 75px;
	}

	/* cart order comment and subtotal */
	.cart .row.vert-margin {
		justify-content: space-between;
	}

	/* cart pickup time */
	.pickup-time h2 {
		margin: 0 0 5px;
	}
	.pickup-time select {
		padding: 1em 4px 2px 1em;
		line-height: 20px;
	}

	.modal--quickview
		.prd-block:not(.prd-block--prv-left):not(.prd-block--prv-right)
		> *:first-child {
		padding: 0;
	}

	/* quickview quantity */
	.modal--quickview .prd-block_qty {
		margin-left: 0;
	}
	.modal--quickview.fancybox-content:not(.modal--checkout),
	.modal--checkout.fancybox-content:not(.modal--checkout) {
		width: 55vw;
	}
	.quickview-button {
		align-self: flex-end;
		margin: 0;
	}

	/* product quickview modal selectors */
	.modal--quickview .prd-block_info-row > form {
		align-items: flex-start;
	}
	.prd-img {
		cursor: pointer;
	}
	.product-slider.slick-slider .slick-track {
		height: 43vw;
	}
	.product-slider .product-slider-item {
		padding: 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		height: 100%;
	}
	.product-slider .product-slider-inside {
		position: relative;
		top: unset;
		left: unset;
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
	}
	/* product slider image container */
	.product-slider-item__image {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	/* product slider image */
	.product-slider .product-slider-item img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		min-width: 100%;
	}
	/* slick next/prev */
	.product-slider .slick-arrow {
		top: 90%;
	}

	.product-slider .slick-next {
		right: unset;
		left: unset;
		transform: translate(100px, 0);
	}

	.product-slider .slick-prev {
		transform: translate(20px, 0);
	}
	.shop-feature.light-color {
		justify-content: center;
	}
	.page-footer .shop-feature.light-color:hover {
		box-shadow: var(--boxShadow);
	}

	/* product card slider */
	.prd-carousel-banner-row .title-container {
		flex: 0 0 24%;
		max-width: 24%;
		margin-top: 0;
	}
	/* top slider: offset box */
	.bnslider-slide
		.bnslider-text-content.txt-right
		.bnslider-text-content-flex {
		align-items: center;
		margin-left: 20%;
	}
	/* top slider: next arrow */
	.bnslider-wrapper .slick-next {
		left: unset;
	}
	/* filter row */
	.filter-row .row.row-2 {
		padding: 15px 25px 0 25px;
	}
} /* END desktop ONLY media query */

.brand-carousel li img {
	max-width: 85%;
}
/* .prd-block_actions.topline div {
	flex: 1 0 auto;
} */
.prd-block .size-list li span.value {
	padding: 7px 8px 0 8px;
	height: unset;
}
.product-size.swatches {
	flex-wrap: wrap;
	width: 100%;
}
.prd-pricing {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.prd-pricing .product-size.option-topping.swatches .option-label {
	align-items: flex-start;
	padding: 6px 0 0 0;
	color: var(--green);
	font-family: "Gotham Bold", sans-serif;
}

.prd-pricing .product-size.option-topping.swatches {
	align-items: flex-start;
}
.prd-pricing .product-options .option-label {
	color: var(--green);
	font-family: "Gotham Bold", sans-serif;
	flex: 1 0 100%;
	line-height: 2;
}
.prd-pricing .product-size .option-label:before {
	content: "1";
	padding: 1rem 2rem;
}
.hulkapps_option.full_width .hulkapps_option_name {
	padding-bottom: 5px;
	display: flex;
	align-items: baseline;
}
.hulkapps_option.full_width:first-of-type .hulkapps_option_name:before {
	content: "2";
	padding: 10px 15px;
	line-height: 1;
}
.hulkapps_option.full_width:nth-of-type(2) .hulkapps_option_name:before {
	content: "3";
	padding: 10px 15px;
	line-height: 1;
}
.hulkapps_discount_button {
	padding: 1rem 2rem !important;
}

.hulkapps_discount_hide .hulkapps_discount_code {
	max-width: 100% !important;
	padding: 1rem;
}

.prd-pricing .product-size .option-label:before,
.hulkapps_option.full_width .hulkapps_option_name:before {
	margin-right: 10px;
	font-size: 28px;
	font-weight: 700;
	border: 1px solid green;
	border-radius: 52%;
}

.prd-block_info .topline:not(:first-child):not(.product-no-options) {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
/* product metafields */
.t-desc-container.active {
	position: absolute;
	right: 0;
	top: 0;
}

.product-size.option-topping.swatches {
	width: 100%;
}

.prd-block_info .topline:not(:first-child):not(.product-no-options) {
	position: relative;
}
.prd-block .color-list li a {
	z-index: 1;
	width: 100%;
}

.product-options > div.swatches ul {
	width: 55%;
	display: flex;
	flex-direction: column;
}
@media (min-width: 768px) {
	.product-options > div.swatches ul {
		padding: 0 0 1rem 6rem;
	}
}
.prd-block .color-list li a span.value {
	max-width: unset;
	width: unset;
}
.prd-block .tooltip {
	display: none !important;
}
.equal-height .prd-block .color-list li span.value {
	padding-top: unset;
	padding: 10px 10px 0px 10px;
	width: 100%;
	line-height: 2;
}
.prd-block .color-list li {
	position: revert;
	padding-right: 1rem;
}
.color-list .t-desc-container {
	opacity: 0;
	transition: opacity 0.1s ease-in;
	position: absolute;
	z-index: 0;
	width: 45%;
	right: 0;
}
.color-list .active .t-desc-container {
	opacity: 1;
}
.color-list .t-desc {
	padding: 0 20px;
}
.color-list .t-desc p {
	margin: 10px 0 0 0;
}

.tooltip {
	bottom: 0rem !important;
	top: unset !important;
}
.tooltip.top .tooltip-arrow {
	top: 3px;
	transform: rotate(180deg);
}
/* MENU PAGE */
/* first row */
.container > table > tbody > tr:first-child {
	background: #1a957b;
}
/* blog */
.post-prw > *:not(.post-img) {
	max-width: 200px;
}
.flex-blog-feed {
	display: flex;
	flex-wrap: wrap;
}
.flex-blog-feed .post-prw-big + .post-prw-big {
	margin-top: 0;
}
/* blog feed images */
.post-prw-big .post-img img {
	object-fit: cover;
	height: 25vh;
}
/* blog feed tags */
.tags-list li a {
	padding: 10px 14px 0 14px;
}

.menu + .row .post-full .post-text ul ul {
	background: var(--lightTan);
}

.menu + .row .post-full .post-text ul {
	column-count: 2;
	column-fill: auto;
	column-gap: 52px;
	column-rule: 2px solid var(--green);
}

.menu + .row .post-full .post-text ul:after {
	content: "";
	display: inline-block;
}

.menu + .row .post-full .post-text ul > li {
	background: var(--green);
	color: var(--lightTan);
}

.menu + .row .post-full .post-text ul li {
	background: var(--green);
	padding: 10px 0 0 20px;
}

.menu + .row .post-full .post-text ul ul > li {
	background: var(--lightTan);
	border-bottom: 1px solid var(--green);
	color: var(--black);
}

.menu + .row .post-full .post-text ul ul ul li {
	background: transparent;
}
.menu + .row .post-full .post-text ul ul {
	column-count: 1;
	color: var(--black);
}
/* END blog */

/* purchase order button */

.cart .save-purchase-order-w3,
.po-modal #po-submit {
	background-color: var(--greenHover) !important;
	background-image: none !important;
	margin-bottom: 10px;
	padding: 8px 10px !important;
}
.po-modal #po-submit {
	padding: 15px 10px 5px 10px !important;
}
.cart .save-purchase-order-w3:hover,
.po-modal #po-submit:hover {
	background-color: var(--green) !important;
	outline: 0;
	transition: all 0.2s ease;
}

.po-modal .po-close {
	top: 25px;
}

#po-input-email {
	padding: 10px 18px 0px 18px !important;
	font-size: 14px !important;
	line-height: 30px !important;
}

/* new product grid layout: 2 columns */
.prd-grid.listing-view-2 .prd {
	flex: 1 0 49% !important;
	max-width: 50% !important;
	width: 50% !important;
	height: auto !important;
	margin: 40px 5px 0 0px;
}

/* vendors autoscroll */
/* https: //github.com/kenwheeler/slick/issues/52#issuecomment-233772642 */
/* .brand-carousel .slick-track {
	animation: scrollin 50s linear infinite;
}

.brand-carousel .slick-track:hover {
	animation-play-state: paused;
}

@keyframes scrollin {
	0% {
		left: 800px;
	}

	100% {
		left: -800px;
	}
} */

/* 
funny stuff 
.btn-decor:hover {
    color: #000;
    background: url(https://cdn.shopify.com/s/files/1/0095/6035/8991/files/IMG_5804.jpg?1862);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    width: 400px;
        background-size: contain;

}

li.slick-slide.slick-active:hover {
    background: url(https://cdn.shopify.com/s/files/1/0095/6035/8991/files/Screen_Shot_2019-08-09_at_9.02.29_PM.png?1865);
    width: 900px !important;
    position: absolute;
    background-size: contain;
}
.prd.prd-has-loader.loaded .gdw-loader {
    opacity: 1;
}
.equal-height .prd:not(.prd-horizontal-simple) .prd-img-area:hover  .gdw-loader {
    background: url(https://cdn.shopify.com/s/files/1/0095/6035/8991/files/Screen_Shot_2019-08-09_at_9.05.22_PM.png?1867) !important;
    opacity: 1 !important;
    background-size: 300px !important;
    background-position: center;
    height: 300px !important;
    width: 300px !important;
    left: -30px !important;
    top: -30px !important;
} 
*/
/* hulk product options */
.hulkapps_discount_code {
	flex: 1 0 auto;
	border: none;
}
